.aboutus-text1{
    color: #333;
    font-size: 35px;
}

.aboutus-text2{
    color: #333;
    font-size: 20px;
}

.aboutus-card1{
    padding: 40px;
}

.aboutus-text1-1{
    text-align: center;
    color: #333;
    padding: 20px;
    font-size: 35px;
}

.aboutus-box{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-text1{
    color: #333;
    font-size: 20px;
}