/* Add margin to the images and adjust their size */
.doctor-image {
    width: 300px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
  }
  
  /* Add margin to the cards */


  .center-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensure the image takes up the entire card height */
  }

  .center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }


  .card_cont {
    margin: 10px; /* Adjust the margin to control the spacing */
    border-radius: 50px; /* Adjust the border-radius value as needed */
    overflow: hidden; /* Ensure all card corners are rounded */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s;
  }
  
  .card_cont:hover {
      transform: scale(1.01); /* Scale up the card on hover */
  }
  
  .centered-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    min-height: 100vh;       /* Make the container at least the height of the viewport */
    padding: 20px;           /* Add spacing from the screen borders */
  }