ul {
    list-style-type: none;
    padding: 0;
  }
  
li {
    margin-bottom: 10px;
  }

button{
    background-color: #007bff; /* Color celeste */
    color: white;
    border: none;
    padding: 15px 30px; /* Aumenta el tamaño del botón */
    cursor: pointer;
    font-size: 16px; /* Tamaño de fuente */
    border-radius: 8px; /* Establece el borde circular */
  }

  .category-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 40px;
    justify-content: center; /* Horizontally center the buttons */
    align-items: center; /* Vertically center the buttons */
  }
  
  
  .category-list li {
    margin-right: 10px; /* Ajusta el espaciado entre los botones como desees */
  }